{% extends 'base.html.twig' %}

{% block title %}Usager index{% endblock %}

{% block body %}
    <h1>Usager index</h1>

{#    TODO : afficher seulement nom et prénom de l'usager transmis, s'il existe     #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
            </tr>
        </thead>
        <tbody>
        {% if usager %}
            <tr>
                <td>{{ usager.id }}</td>
                <td>{{ usager.email }}</td>
                <td>{{ usager.roles ? usager.roles|json_encode : '' }}</td>
                <td>{{ usager.password }}</td>
                <td>{{ usager.nom }}</td>
                <td>{{ usager.prenom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endif%}
        </tbody>
    </table>

    {% if usager %}
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ usager.nom }}</td>
                <td>{{ usager.prenom }}</td>
            </tr>

        </tbody>
    </table>
    {% endif %}


{% endblock %}
