<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href='{{ path('index') }}'>
		<i class="fas fa-home"></i>
		{% trans %} navbar.home {% endtrans %}
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href='{{ path('app_boutique') }}'>
					<i class="fas fa-store"></i>
					{% trans %} navbar.store {% endtrans %}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_panier_index') }}">
					<i class="fas fa-shopping-cart"></i>
					{% trans %} navbar.shoppingCart {% endtrans %}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href='{{ path('contact') }}'>
					<i class="fas fa-comments"></i>
					{% trans %} navbar.contact {% endtrans %}
				</a>
			</li>
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user"></i>
					{% trans %} navbar.signIn {% endtrans %}
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item " href="login">
						{% trans %} navbar.signInRegister {% endtrans %}
					</a>
					<a class="dropdown-item disabled" href="usager/compte">
						{% trans %} navbar.myAccount {% endtrans %}
					</a>
					<a class="dropdown-item disabled" href="usager/commandes">
						{% trans %} navbar.myOrders {% endtrans %}
					</a>
					<a class="dropdown-item disabled" href="logout">
						{% trans %} navbar.signOut {% endtrans %}
					</a>
				</div>
			</li>
			<li class="nav-item" data-toggle="tooltip" title="Ne devra être visible que pour l'Admin" data-placement="right" data-html="true">
				<span class="nav-link disabled" href="">
					<i class="fas fa-tools"></i>
					{% trans %} navbar.backOffice {% endtrans %}
				</span>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" id="searchString" type="text" placeholder="{% trans %} navbar.search {% endtrans %}" aria-label="Search">
			<button class="btn btn-secondary my-2 my-sm-0" id="searchButton">
				<i class="fas fa-search"></i>
			</button>
		</form>
		<ul class="navbar-nav my-0">
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					EUR
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdown02" style="min-width: 5rem;">
					<a class="dropdown-item" href="changer_monnaie/CAD/boutique_index/%7B%22_locale%22:%22en%22%7D">
						CAD
					</a>
					<a class="dropdown-item" href="changer_monnaie/USD/boutique_index/%7B%22_locale%22:%22en%22%7D">
						USD
					</a>
					<a class="dropdown-item" href="changer_monnaie/GBP/boutique_index/%7B%22_locale%22:%22en%22%7D">
						GBP
					</a>
					<a class="dropdown-item" href="changer_monnaie/PHP/boutique_index/%7B%22_locale%22:%22en%22%7D">
						PHP
					</a>
					<a class="dropdown-item" href="changer_monnaie/IDR/boutique_index/%7B%22_locale%22:%22en%22%7D">
						IDR
					</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav my-0">
			{% set locale = app.request.attributes.get('_locale') %}
			<li class="nav-item dropdown">
				<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="{{asset('images/locale/'~locale~'.png')}}" alt="{{locale}}">
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdown03" style="min-width: 5rem;">
					{% for uneLocale in supported_locales | split('|') %}
						{% if uneLocale != locale %}

							{% set route = app.request.attributes.get('_route') %}
							{% set route_params = app.request.attributes.get('_route_params') %}
							{% set route_params = route_params | merge({'_locale': uneLocale}) %}

							<a class="dropdown-item" href="{{ path(route, route_params) }}">
								<img src="{{asset('images/locale/'~uneLocale~'.png')}}" alt="{{uneLocale}}">
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</li>
		</ul>
	</div>
</nav>
